body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Header */

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 256px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.header-links {
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/* Hero */

.hero-container {
    background: #1F2937;
    padding: 96px 256px;
    display: flex;
}

.hero-information-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

    /* NOT NEEDED just makes it look cleaner */
    max-width: 500px;
}

.hero-sub-text {
    color: #E5E7EB;
    font-size: 18px;
    padding: 15px 0px;

    /* NOT NEEDED just makes it look cleaner */
    max-width: 650px;
}

.hero-button {
    background: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    max-width: 130px;
    cursor: pointer;
}

.hero-image {
    color: #F9FAF8;
    background: #5c6879;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

/* Information */

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 128px;
}

.info-box {
    width: 200px;
    height: 200px;
    border: #3882F6 solid 10px;
    border-radius: 10px;
}

.info-text {
    color: #1F2937;
    font-size: 18px;
    max-width: 200px;
    text-align: center;
}

/* Quote */

.quote-container {
    background: #E5E7EB;
    margin: 100px 0;
    padding: 128px 368px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quote-cite {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
    padding-right: 64px;
}

/* Call to Action card */

.card-container {
    background: #3882F6;
    border: none;
    border-radius: 10px;
    display: flex;
    margin: 96px 256px;
    padding: 50px 0px;
}

.card-information-container {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding: 0px 128px;
}

.card-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.card-description {
    color: #E5E7EB;
    font-size: 18px
}

.card-button {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 18px;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
    padding: 0px 40px;
    cursor: pointer;
}

.footer {
    background: #1F2937;
    padding: 24px 0px;
}

.footer-text {
    color: #F9FAF8;
    text-align: center;
}